<link href="@Url.Content("~/Content/MyStyles.css")" rel = " stylesheet" type="text/css" />
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron homefeatures">
    <div class="container">
        <div class="row">
            <div class="col lg-12">
                <h1 class="text-center sizeone">Movie Database</h1>
                <p class="text-center sizetwo">To Add Your Review @Html.ActionLink("Click Here", "Submit", "Review", null, new { @class = "homebutton" })</p>
            </div>
        </div>
    </div>
</div>

